<section>
    <div class="banner">
        <img class="img-fluid d-block w-100" src="./asset/banner/1.jpg" alt="banner">
    </div>    
  </section>

<header class="text-white text-center py-5 ">
    <div class="container">
        <h1 class="display-4">Welcome to Our Platform</h1>
        <div class="my-3">
        <button class="btn btn-primary btn-lg mx-3"        
        (click)="onOwnerClick()">Owner</button>
        <a routerLink="/reservation"><button class="btn btn-success btn-lg"        
        (click)="onCustomerClick()">Customer</button></a>
        </div>
    </div>
</header>